body {
    background-color: rgb(171, 168, 168);
}
h1 {
    font-family: 'Merriweather', serif;
    text-align: center;
}

img {
    width: 50%;
    margin-left: 25%;
    border: 4px solid black;
}

/*Table*/
.table-head {
    background-color: white;
}

table, th, td{
    border: 2px solid rgb(171, 168, 168);
   /* border-collapse: collapse;*/
}

.archaeology {
    background-color: lightblue;
}

#archaeology {
    color: lightblue;
}

.village-history {
    background-color: Green;
    color: white;
}

#village-history {
    color: Green;
}

.church-design {
    background-color: pink;
}

#church-design {
    color: pink;
}

.monasteries {
    background-color: orange;
}

#monasteries {
    color: orange;
}

.research-guide {
    background-color: red;
    color: white;
}

#research-guide {
    color: red;
}

.maynooth-research-guide {
    background-color: lightgreen;
}

#maynooth-research-guide {
    color: lightgreen;
}

.war-of-independence {
    background-color: purple;
    color: white;
}

#war-of-independence {
    color: purple;
}

.english-history {
    background-color: yellow;
}

#english-history {
    color: yellow;
}
   
.cork-county-history {
    background-color: blue;
    color: white;
}

#cork-county-history {
    color: blue;
}

.travel-guides {
   background-color: plum;
}

#travel-guides {
    color: plum;
}

.cork-city-history {
    background-color: lightblue;
}

#cork-city-history {
    color: lightblue;
}

.medieval-history {
    background-color: lightgreen;
}

#medieval-history {
    color: lightgreen;
}

.early-christian {
    background-color: lightpink;
}

#early-christian {
    color: lightpink;
}