body {
    background-color: rgb(171, 168, 168);
}

h1 {
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 100px;
}

img {
    width: 50%;
    margin-left: 25%;
    border: 6px solid black;
}

h2 {
    font-size: 90px;
    text-align: center;
}

h3 {
    font-size: medium;
    text-align: center;
    color: brown;
}

.flex-container {
    display: flex;
}

.flex-container>div {
    text-align: center;
    width: 400px;
    height: 200px;
    border: 2px solid blue;
    background-color: aqua;
}

li {
    list-style-type: none;
    text-align: center;
    font-size: medium;
}

/*Table*/
.table-head {
    background-color: white;
}

table,
th,
td {
    border: 2px solid rgb(171, 168, 168);
    font-size: larger;
    /* border-collapse: collapse;*/
}

#home {
    color: brown;
}

 #loaning {
    background-color: brown;
    color: white;
    font-weight: 900;
 }

.archaeology {
    background-color: #00bfff;
    color: black;
    font-weight: 900;
}

#archaeology {
    color:#00bfff;
}

.ballinagree {
    background-color: navy;
    color: white;
    font-weight: 900;
}

#ballinagree {
    color: navy;
}

.ryan {
    background-color: deeppink;
    color: white;
    font-weight: 900;
}

#ryan {
    color: deeppink;
}

.shelf {
    background-color: darkslategray;
    color: white;
    font-weight: 900;
}

#shelf {
    color: darkslategray;
}


.spare {
    background-color: firebrick;
    color: white;
    font-weight: 900;
}

#spare {
    color: firebrick;
}

.other {
    background-color: green;
    color: white;
    font-weight: 900;
}

#other {
    color: green;
}

.village-history {
    background-color: Green;
    color: white;
    font-weight: 900;
}

#village-history {
    color: Green;
}

.church-design {
    background-color: purple;
    color: white;
    font-weight: 900;
}

#church-design {
    color: purple;
}

.monasteries {
    background-color: orange;
    color: black;
    font-weight: 900;
}

#monasteries {
    color: orange;
}

.research-guide {
    background-color: red;
    color: white;
    font-weight: 900;
}

#research-guide {
    color: red;
}

.maynooth-research-guide {
    background-color: blue;
    color: white;
    font-weight: 900;
}

#maynooth-research-guide {
    color: blue;
}


.irish-revolution {
    background-color: rgb(239, 16, 161);
    color: white;
    font-weight: 900;
}

#irish-revolution {
    color: rgb(239, 16, 161);
}

.english-history {
    background-color: #ffff33;
    color: black;
    font-weight: 900;
}

#english-history {
    color: #e6e600;
}

.cork-county-history {
    background-color: blue;
    color: white;
    font-weight: 900;
}

#cork-county-history {
    color: blue;
}

.endnote {
    background-color: blue;
    color: white;
    font-weight: 900;
}

#endnote {
    color: blue;
}

.travel-guides {
    background-color: rgb(174, 68, 174);
    color: white;
    font-weight: 900;
}

#travel-guides {
    color: rgb(174, 68, 174);
}

.cork-city-history {
    background-color: #00bfff;
    color: black;
    font-weight: 900;
}

#cork-city-history {
    color: #00bfff;
}

.medieval-history {
    background-color: lightgreen;
    color: black;
    font-weight: 900;
}

#medieval-history {
    color: lightgreen;
}

.early-christian {
    background-color: rgb(239, 16, 161);
    color: white;
    font-weight: 900;
}

#early-christian {
    color: rgb(239, 16, 161);
}

.journals {
    background-color: purple;
    color: white;
    font-weight: 900;
}

#journals {
    color: purple;
}

.maccarthy {
    background-color: red;
    color: white;
    font-weight: 900;
}

#maccarthy {
    color: red;
}

.famine {
    background-color: orange;
    color: black;
    font-weight: 900;
}

#famine {
    color: orange;
}

.early-modern {
    background-color: purple;
    color: white;
    font-weight: 900;
}

#early-modern {
    color: purple;
}

.castles {
    background-color: #ffff33;
    color: black;
    font-weight: 900;
}

#castles {
    color: #e6e600;
}

.church-history {
    background-color: blue;
    color: white;
    font-weight: 900;
}

#church-history {
    color: blue;
}

.irish-history {
    background-color: lightgreen;
    color: black;
    font-weight: 900;
}

#irish-history {
    color: lightgreen;
}

.industrial-heritage {
    background-color: purple;
    color: white;
    font-weight: 900;
}

#industrial-heritage {
    color: purple;
}

.gaelic-ireland {
    background-color: #ffff33;
    color: black;
    font-weight: 900;
}

#gaelic-ireland {
    color: #e6e600;
}

.irelands-own {
    background-color: red;
    color: white;
    font-weight: 900;
}

#irelands-own {
    color: red;
}

.local-government {
    background-color: #ffff33;
    color: black;
    font-weight: 900;
}

#local-government {
    color: #e6e600;
}

.navbar {
    font-weight: 900;
    font-size: xx-large;
    text-transform: uppercase;
    background-color: white;
}

.footer {
    font-weight: 900;
    font-size: xx-large;
    text-transform: uppercase;
    background-color: white;
    text-align: center;
}

a {
    width: 25%;
    height: 30px;
}